body{
    transition: background 0.2s, color 0.4s;
}
body.light{
    background: white;
    color: black;
}
body.dark{
    background: black;
    color: white;
}

h1{
    text-align: center;
}

.change{
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: rgb(0, 195, 255);

}

.btn{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.75rem;
}

.para {
    text-align: center;
    margin-top: 15rem;
}

#imgFavoris {
    width: 600px; height: 500px;
    margin: 3rem;
}

#img {
    object-fit: cover;
    width: 600px; height: 500px;
    border-radius: 10%;
    margin-bottom: 1rem;
}

#aleatoires{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn{
    display: flex;
    justify-content:space-around;
    width: 20%;
}

#favs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.retirer{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(17, 15, 15);
    border-radius: 15px;
    color: red
}
.annuler{
    display: flex;
    justify-content: center;
}

.imgFav{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px){
    body {
        width: 100%
    }
}